.heart-title,
.streak-freeze-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
  text-align: left;
  margin-left: 10px;
}

.heart-purchase,
.streak-freeze-purchase {
  display: flex;

  align-items: center;

  justify-content: center;
  gap: 10px;
  border-top: 1px solid #52656d;
  border-bottom: 1px solid #52656d;
  padding: 10px;
}

.heart-purchase-text,
.streak-freeze-purchase-text {
  text-align: left;
}

.heart-purchase-name,
.streak-freeze-purchase-name {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.heart-purchase-description,
.streak-freeze-purchase-description {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0;
  max-width: 400px;
}

.heart-icon {
  width: 100px;
  height: 100px;
}

.streak-freeze-icon {
  width: auto;
  height: auto;
  margin-right: 10px;
}

.heart-purchase-button,
.streak-freeze-purchase-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  border-top: 1.8px solid #52656d;
  border-left: 1.8px solid #52656d;
  border-right: 1.8px solid #52656d;
  border-bottom: 4px solid #52656d;
  border-radius: 20px;
  padding: 0px 20px;

  background-color: transparent;
  color: white;
  font-size: 1.2rem;

  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.heart-purchase-button:hover,
.streak-freeze-purchase-button:hover {
  background-color: #090909;
}

.heart-purchase-button:after,
.streak-freeze-purchase-button:after {
  background-color: #090909;
}

.heart-purchase-button-price-container,
.streak-freeze-purchase-button-price-container {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 5px;
}

.heart-purchase-button-text,
.streak-freeze-purchase-button-text {
  font-size: 1.2rem;
  color: #199edd;
  font-weight: 700;
}

.heart-purchase-button-gem,
.streak-freeze-purchase-button-gem {
  width: 20px;
  height: 20px;
}

.heart-purchase-button-price,
.streak-freeze-purchase-button-price {
  font-size: 1.2rem;
  font-weight: 700;
  color: #199edd;
}

.power-ups-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
